body {
	font: 15px 'Trocchi', serif;
	background: url(webpage-background-225x300.png);
}

#container {
	margin-top: 25px;
	margin-left: 135px;
	margin-right: 135px;
	padding: 10px 45px 10px 45px;
	border-radius: 5px;
	background-color: #f2f2f2;
	text-align: left;
	border: 1px solid #000000;
}

#citystatepostal {
	font-size: 14px;
	text-align: center;
}

#phone {
	font-size: 14px;
	text-align: center;
	margin-bottom: -10px;
}

#content-WorkHistory {
	font: 25px Arial, sans-serif;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
}

#content-education {
	font: 25px Arial, sans-serif;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	padding: 10px 15px 25px 15px;
}

#content-Objective {
	font-size: 15px;
	padding: 10px 15px 10px 15px;
}

#content-RCTC {
	font-size: 15px;
	padding: 10px 15px 10px 15px;
}

#content-Prime {
	font-size: 15px;
	padding: 10px 15px 10px 15px;
}

#chrimg {
	image: url(chr.png);
	hight: 22px;
	float: left;
	padding: 5px 3px 0px 0px;
}

#libertyimg {
	image: url(chr.png);
	hight: 25px;
	float: left;
	padding: 8px 3px 0px 0px;
}

#RCTCimg {
	image: url(RCTC.png);
	hight: 27px;
	float: left;
	padding: 17px 3px 0px 0px;
}

#Primeimg {
	image: url(Prime.png);
	hight: 27px;
	float: left;
	padding: 17px 3px 0px 0px;
}

h1 {
	font: 58px 'Trocchi', serif;
	font-weight: 200;
	margin-bottom: -5px;
	text-align: center;
	border-bottom: 2px solid #000000;
}

h2 {
	font-size: 14px;
	text-align: center;
	margin-bottom: -10px;
}

h3 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: -10px;
	border-top: 1px solid #bfbfbf;
	padding: 5px 0px 0px 0px;
}

h4 {
	font-size: 18px;
	margin-bottom: -10px;
}

.street {
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}

.country {
	font-size: 14px;
	text-align: center;
	margin-bottom: -10px;
}

.block-content {
	padding: 15px 0px 0px 25px;
}

.date {
	font-size: 12px;
	float: right;
	padding: 10px 0px 0px 0px;
}

.job {
	font-size: 12px;
	float: left;
	padding: 10px 0px 0px 5px;
}

.edu {
	font-size: 12px;
	float: left;
	padding: 10px 0px 0px 5px;
}

li {
	font-size: 12px;
	text-align: left;
	padding: 3px 0px 0px 0px;
}
